<nav role="navigation" class="navbar navbar-inverse" ng-controller="NavCtrl as nav">
        <div class="navbar-header" style="background: url('images/logo1.png') no-repeat left">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" ng-click="nav.changeTab('/customer')">
        <span style="margin-left: 90px"></span></a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li class="ng-class: nav.activeTab.lastIndexOf('/customer', 0) === 0  && 'active' ;"><a href="/customer " ng-click="nav.changeTab('/customer')">Customers</a></li>
            </ul>
            <form role="search" class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a>lady.barretto@cloudsherpas.com (Admin)</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </nav