.navbar-static-top {
  margin-bottom: 19px;
}

.bigass-text {
  font-size: 14em;
}

.contract-padding{
	padding-bottom: 15px;
	padding-top: 15px;
}

.spinner-div{
	text-align: center
}

h1 .contract-btn-group { display: inline-block; }

body {
	background-color: #fefefe;
	overflow-y: scroll;
}

.fade-hide, .fade-show {
	-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	-moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	-o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.details {
	-webkit-transition:0.1s linear all;
	transition:0.1s linear all;
	opacity:1;
}

.details.ng-hide {
	opacity:0;
}

.details.ng-hide-add, .details.ng-hide-remove {
	/* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
	display:block!important;
}

.overlayable{
  position:relative;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow:hidden;
  background-color: rgba(254,254,254,0.7); /*dim the background*/
}

.overlay .bg-danger{
  background-color: rgba(255,0,0,0.3); /*dim the background*/
}

.overlay-center-element{
  position:relative;
  top: 50%;
  transform: translateY(-50%);
}
