<h1>Customers</h1>
<div class="col-lg-12" ng-show="cc.totalItems != 0">
    <div><!-- 
      <md-progress-circular md-mode="indeterminate"></md-progress-circular> -->
        <table st-table="cc.items" class="table table-striped">
            <thead>
            <tr>
                <th>
                    <md-content>
                        <md-button class="md-raised md-primary" ng-click="cc.addCustomer($event)">
                            <md-icon md-svg-src="../bower_components/material-design-icons/social/svg/production/ic_person_add_24px.svg"></md-icon>  Add New
                        </md-button>
                    </md-content>
                </th>
                <th colspan="2">
                  <input st-search placeholder="Search Keyword" class="input-sm form-control" type="search" style="width: 90%"/>
                </th>
                <th>
                  <md-content>
                      <md-button class="md-raised md-primary" ng-click="cc.removeSelected($event)" ng-disabled="cc.disabled()">
                          <i class="glyphicon glyphicon-trash"></i> Delete Selected
                      </md-button>
                  </md-content>
                </th>
            </tr>
            <tr>
              <th></th>
              <th st-sort="customerName">Customer Name</th>
              <th>Description</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in cc.items">
              <div ng-show="cc.totalItems != 0">
                <td style="width: 5%"><md-checkbox ng-checked="cc.exists(row)" ng-click="cc.toggle(row)" aria-label="customer" class="md-primary md-align-top-left">
              {{ item }}
                  </md-checkbox>
                </td>
                <td style="width: 20%; margin-left: -20px" ng-click="cc.viewCustomer(row)"><b><p style="color: #003399">{{row.customerName}}</p></b></td>
                <td style="width: 70%">{{row.description}}</td>
                <td>
                  <md-fab-speed-dial md-open="row.isOpen" md-direction="right" ng-class="md-fling" ng-hide="false">
                    <md-fab-trigger>
                      <md-button aria-label="menu" class="md-fab md-raised md-primary">
                        <md-tooltip md-direction="left">Menu</md-tooltip>
                        <md-icon md-svg-src="../bower_components/material-design-icons/navigation/svg/production/ic_menu_36px.svg"></md-icon>
                      </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                      <md-button aria-label="view" class="md-fab md-raised md-mini" ng-click="cc.viewCustomer(row)">
                        <md-tooltip md-direction="down">View</md-tooltip>
                        <i class="glyphicon glyphicon-eye-open" style="color: green"></i>
                      </md-button>
                      <md-button aria-label="edit" class="md-fab md-raised md-mini" ng-click="cc.editCustomer(row)">
                        <md-tooltip md-direction="down">Edit</md-tooltip>
                        <i class="glyphicon glyphicon-pencil" style="color: blue">
                        </i>
                      </md-button>
                      <md-button aria-label="delete" class="md-fab md-raised md-mini" ng-click="cc.removeCustomer($event, row)">
                        <md-tooltip md-direction="down">Delete</md-tooltip>
                        <i class="glyphicon glyphicon-trash" style="color: red">
                        </i>
                      </md-button>
                    </md-fab-actions>
                  </md-fab-speed-dial>
                </td>
              </div>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-left">
                        <div st-pagination="" st-items-by-page="6" st-displayed-pages="6"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div ng-hide="cc.totalItems != 0">
  <md-content>
      <md-button class="md-raised md-primary" ng-click="cc.addCustomer($event)">
          <md-icon md-svg-src="../bower_components/material-design-icons/social/svg/production/ic_person_add_24px.svg"></md-icon>  Add New
      </md-button>
  </md-content>
  <h3 style="color:red">No Customers Found</h3>
</div>