<md-dialog aria-label="View Customer" flex="45">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><md-icon md-svg-src="../bower_components/material-design-icons/action/svg/production/ic_visibility_24px.svg"></md-icon>
      </i> View Customer</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeDialog();">
        <md-icon md-svg-src="../bower_components/material-design-icons/navigation/svg/production/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:1800px;max-height:1810px; ">
    <div>
      <h4 style="color: #333399"><b>Basic Information:</b></h4>
      <p>
        <b>Custome Name: </b>
        {{customer.customerName}}
      </p>
      <p>
        <b>Description: </b>
        {{customer.description}}
      </p>
      <p>
        <b>Number of Contracts: </b>
        1
      </p>
      <p>
        <b>Date Added: </b>
        {{customer.dateAdded | convertDate}}
      </p>
      <hr size="3">
      <h4 style="color: #333399"><b>List of Contracts:</b></h4>
      <md-chips ng-repeat="chip in customer.contracts">
        <md-chip>
          <a><strong>{{chip}}</strong></a>
        </md-chip>
      </md-chips>
      <hr size="3">
      <h4 style="color: #333399"><b>Contact Information:</b></h4>
      <p>
        <b>Email Address: </b>
        {{customer.emailAddress}}
      </p>
      <p>
        <b>Phone Number: </b>
        {{customer.phoneNumber}}
      </p>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button class="md-raised md-primary" ng-click="closeDialog();" >
     OK
    </md-button>
  </div>
</md-dialog>