<md-dialog aria-label="Add New Customer" flex="45">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2><md-icon md-svg-src="../bower_components/material-design-icons/editor/svg/production/ic_mode_edit_24px.svg"></md-icon>
</i> Edit Customer</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeDialog();">
        <md-icon md-svg-src="../bower_components/material-design-icons/navigation/svg/production/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:1800px;max-height:1810px; ">
    <div>
    <md-content layout-padding class="autoScroll">
    <md-input-container class="md-icon-float" >
      <!-- Use floating label instead of placeholder -->
      <label>Customer Name</label>
      <md-icon md-svg-src="../bower_components/material-design-icons/social/svg/production/ic_person_24px.svg"></md-icon>
      <input ng-model="customer.customerName" type="text">
    </md-input-container>
    <md-input-container class="md-icon-float">
      <!-- Use floating label instead of placeholder -->
      <label>Description</label>
      <md-icon md-svg-src="../bower_components/material-design-icons/device/svg/production/ic_storage_24px.svg"></md-icon>
      <textarea ng-model="customer.description" md-maxlength="200"></textarea>
    </md-input-container>
    <md-input-container class="md-icon-float">
      <label>Phone Number</label>
      <md-icon md-svg-src="../bower_components/material-design-icons/communication/svg/production/ic_phone_24px.svg"></md-icon>
      <input ng-model="customer.phoneNumber" type="text">
    </md-input-container>
    <md-input-container class="md-icon-float">
      <label>Email Address</label>
      <md-icon md-svg-src="../bower_components/material-design-icons/communication/svg/production/ic_email_24px.svg"></md-icon>
      <input ng-model="customer.emailAddress" type="text">
    </md-input-container>
    <h4 style="color: #333399"><b>List of Contracts:</b></h4>
    <md-chips ng-model="customer.contracts"></md-chips>
  </md-content>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button class="md-raised md-primary" ng-click="editCustomer();">
        <md-icon md-svg-src="../bower_components/material-design-icons/content/svg/production/ic_save_24px.svg"></md-icon> Save
    </md-button>
    <md-button ng-click="closeDialog();" >
     Cancel
    </md-button>
  </div>
</md-dialog>